extends layout

block content
 .jumbotron
      .container
        h1 #{title}
        p
          | Check for causes of electrical shorts inside your computer. ... Just because your computer's fans and lights are working does not mean that the power supply is functioning properly. The PSU tends to cause more problems than any other hardware and is often the cause of a computer not coming on all the way.
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
    .container
      .row
        .col-md-4
          h2 Virus Removal
          p
            | Remove all temporary files and run a virus scan using antivirus software. If any viruses are detected, delete them. Avast Free Antivirus includes a virus scanner and cleaner, which can easily and quickly remove any virus from your device.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Hardware Issues
          p
            | Sometimes a hardware fault can create issues that require a physical fix. We explain common computing hardware problems, from connecting devices to taking a screwdriver to your computer for a hands-on physical fix, or knowing when the time is right to seek a professional repair.
          p
            a.btn.btn-default(href='#', role='button') View details »
        .col-md-4
          h2 Software Issues
          p
            | Software Failures. The more severe software problems are usually caused by a hardware failure. No start (with or without an error message), frequent crashes with different errors each time, frequent freezes or Windows running extremely slow all indicate hard disk, memory (RAM), motherboard or overheating problems.
          p
            a.btn.btn-default(href='#', role='button') View details »